#button-container{
    display:flex;
    justify-content: space-between;
 
     
}

button{
    padding:0px;
}  

#show-answer-button{
    align-self:center;
}

#edit-button{       
     
    align-self:flex-start;
}

#more-button{
   
    align-self:flex-end;
}
/*
#edit-button{
    align-self:flex-start;
}

#more-button{
    align-self:flex-end;
}

#show-answer-button{
    align-self:center;
}
*/